* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body {
    height: 100vh;
    font-family: sans-serif;
}

header {
    background-color: #fff;
    padding: 11px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: #000;
    padding: 11px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: 6rem;
}

.drop-button {
    position: absolute;
    right: 1.5rem;
    background-color: #bbbbbb6b;
    border-radius: 7px;
    padding: 0.3rem;
}

header:hover .nav-link {
    display: block;
}

.material-symbols-outlined {
    color: #111;
}

.nav-link {
    display: none;
    background-color: #bbbbbb6b;
    border-radius: 18px;
    padding: 1rem;
}

.nav-link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.nav-link li a{
    text-decoration: none;
    display: block;
    color: rgb(85, 85, 85);;
    padding: 8px 16px;
    text-align: center;
    font-weight:lighter;
}

.logo {
    font-size: 1.6rem;
    margin: 1.5rem;
    color: #111;
    font-weight: lighter;
}

section {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.profile-section {
    display: block;
    margin-bottom: 3rem;
}

.profile-image {
    height: 55vw;
}

.profile-section img {
    width: 50%;
}

h1 {
    font-size: 2.2rem;
}

.profile-text p {
    font-weight:600;
    color: rgb(85, 85, 85);
}

.profile-text .name {
    margin-bottom: .3rem;
}

.profile-text .tag-line {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.social-accounts {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}



